doctype html
html(lang='en')
  head
    title Login to K&M Construction
    link(type="text/css", rel="stylesheet", href="/frameworks/materialize/css/materialize.min.css", media="screen,projection")
    link(type="text/css", rel="stylesheet", href="/css/login.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    
  body
    main
      div(class="container")
        div(class="card")
          div(class="card-content black-text")
            span(class="card-title red-text text-lighten-2") K&M Construction
            div(class="row")
              form(class="col s12", action="login", method="POST")
                div(class="row")
                  div(class="input-field col s12")
                    i(class="mdi-action-account-circle prefix")
                    input(id="username" name="username" type="text" class="validate")
                    label(for="username") Username
                div(class="row")
                  div(class="input-field col s12")
                    i(class="mdi-action-lock prefix")
                    input(id="password" name="password" type="password" class="validate")
                    label(for="password") Password
                button(class="btn waves-effect waves-light right" type="submit" name="action") Login
                input(type="hidden", name="redirect", value=redirect || "")
            if msg != ""
              div(class="row")
                div
                  p(class="alert red-text text-lighten-2 center-align valign")= (msg) ? msg : ""
                
                  
                  //p(class="alert red-text text-lighten-2 center-align valign")= (msg) ? msg : ""
    
    script(type="text/javascript", src='/js/plugins/jquery.js')
    script(type="text/javascript", src='/frameworks/materialize/js/materialize.min.js')