html
  head
    link(rel="stylesheet", href="css/login.css")
    link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300', rel='stylesheet', type='text/css')
  body
    //div(class='back-box')
    //div(class="logo")
      h1 K&M Construction
    div(class='login-form')
      form(id="login-form", action="login", method="POST")
        input(class="login-form-input", type="text", name="username", placeholder="Username")
        br
        input(class="login-form-input", type="password", name="password", placeholder="Password")
        br
        input(class="login-form-submit", type="submit", value="Login")
      span(id="message")= (msg) ? msg : ""

    script(src="js/jquery.js")
    script(src="js/login.js")