div(class="fixed-action-btn" style="bottom: 45px; right: 45px;")
  a(id="btn-add-item", href="#add-items-modal", class="modal-trigger btn-floating btn-large waves-effect waves-light red lighten-2")
    i(class="large mdi-content-add")
div(class="col s12")
  br
  div(class="row")
    div(class="col s12")
      if invoice.addItems.length > 0
        div(class="collection z-depth-1")
          each item in invoice.addItems
            a(href="#add-items-modal" class="collection-item item-row modal-trigger" id=item._id)
              table
                tbody
                  tr
                    td(id="cat_" + item._id)= item.category
                    td(id="cost_" + item._id, style="width:15%")= "$" + (item.rate * item.qty).toFixed(2)
      else
        h4(class="grey-text center") No additional items to display.
        
      <!-- Modal Structure -->
      div(id="add-items-modal" class="modal modal-fixed-footer")
        div(class="modal-content")
          h4(class="center red-text text-lighten-2") Modify Item Details
          br
          div(class="row")
            div(class="input-field col s12")
              input(id="category", type="text", class="validate")
              label(for="category" class="active") Category
              
          div(class="row")
            div(class="input-field col s6")
              input(id="rate", type="text", class="validate")
              label(for="rate" class="active") Rate
            div(class="input-field col s6")
              input(id="qty", type="text", class="validate")
              label(for="qty" class="active") Quantity
          
        div(class="modal-footer")
          a(id="add-item-save-modal" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue-text") Save
          a(id="add-item-delete-modal" href="#!" class="modal-action waves-effect waves-red btn-flat red-text text-lighten-2") Delete
          a(href="#!" class="modal-action modal-close waves-effect waves-grey btn-flat grey-text") Cancel
          
script(type='text/javascript').
  var invoice =!{JSON.stringify(invoice)}
script(src="/js/app/invoices/pages/addItems.js")